## Project Description:
This project is an analysis of the passenger data from the Titanic disaster in 1912. The data includes information about each passenger, suchas: age, gender, class, and fare, as well as whether they survived or not. We will explore the data and gain insights on factors that may have influenced survival rates.

In [5]:

import plotly.express as px
import pandas as pd
import streamlit as st

ModuleNotFoundError: No module named 'plotly'

In [6]:
train = pd.read_csv(
    'train.csv')
test = pd.read_csv('test.csv')

NameError: name 'pd' is not defined

In [ ]:
display(train.head())
train.info()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
display(test.head())
test.info()

NameError: name 'test' is not defined

In [ ]:
titanic_df = pd.concat([train, test], axis=0, ignore_index=True)
titanic_df.to_csv('merged.csv', index=False)
titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)
titanic_df = titanic_df.dropna()
duplicates = titanic_df.duplicated()
(duplicates.sum())
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 1308
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass_x     891 non-null    float64
 3   Name_x       891 non-null    object
 4   Sex_x        891 non-null    object
 5   Age_x        714 non-null    float64
 6   SibSp_x      891 non-null    float64
 7   Parch_x      891 non-null    float64
 8   Ticket_x     891 non-null    object
 9   Fare_x       891 non-null    float64
 10  Cabin_x      204 non-null    object
 11  Embarked_x   889 non-null    object
 12  Pclass_y     418 non-null    float64
 13  Name_y       418 non-null    object
 14  Sex_y        418 non-null    object
 15  Age_y        332 non-null    float64
 16  SibSp_y      418 non-null    float64
 17  Parch_y      418 non-null    float64
 18  Ticket_y     418 non-null    object
 19  Fare_y       417 non-null    float64
 20  Cabin_y      91 non-null     object
 21  Embarked_y   418 non-null    object
dtypes: float64(11), int64(1), object(10)
memory usage: 235.2+ KB

In [ ]:
print(titanic_df.columns)

Index(['PassengerId', 'Survived', 'Pclass_x', 'Name_x', 'Sex_x', 'Age_x',
       'SibSp_x', 'Parch_x', 'Ticket_x', 'Fare_x', 'Cabin_x', 'Embarked_x',
       'Pclass_y', 'Name_y', 'Sex_y', 'Age_y', 'SibSp_y', 'Parch_y',
       'Ticket_y', 'Fare_y', 'Cabin_y', 'Embarked_y'],
      dtype='object')

In [ ]:
st.header("Titanic Passenger Data")
color_by_survival = st.checkbox("Color by Survival")

2023-04-26 15:20:31.930
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/zoeyespinoza/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [1]:
fig_age = px.histogram(titanic_df, x="Age", nbins=20,
                       color="Survived",
                       title="Distribution of Passenger Age")


fig_fare = px.histogram(titanic_df, x="Fare", nbins=20, 
                        color="Survived",
                        title="Distribution of Passenger Fares")

fig_scatter = px.scatter(titanic_df, x="Age", y="Fare", 
                         color="Survived",
                         title="Passenger Age vs. Fare")
if color_by_survival:
    st.plotly_chart(fig_age, use_container_width=True)
    st.plotly_chart(fig_fare, use_container_width=True)
    st.plotly_chart(fig_scatter, use_container_width=True)
else:
    st.plotly_chart(fig_age.update_traces(
        marker_color='blue'), use_container_width=True)
    st.plotly_chart(fig_fare.update_traces(
        marker_color='blue'), use_container_width=True)
    st.plotly_chart(fig_scatter.update_traces(
        marker_color='blue'), use_container_width=True)

fig_age.show()
fig_fare.show()
fig_scatter.show()

NameError: name 'px' is not defined

### Project Conclusion:
In this project, we analyzed a dataset of Titanic passenger data and explored the relationships between factors such as age, fare, and survival. Analysis revealed that the survival rate was higher for passengers who were female, younger, and in higher classes. We also found that there was a positive correlation between fare and survival.

These findings suggest that factors such as gender, age, and socioeconomic status played a significant role in determining survival outcomes. This also provides insights into patterns that could be used to understand survival rates in future emergency situations.